mixin navbar 
  nav
    ul
      li
        a(href="/")
          h1.nav_title Post It
      li
        a(href="/categories") Categories
      if user
        li
          a(href="/logout") Log out
        li(class="right")
          a(href="/profile")= user.username

      else
        li
          a(href="/register") Register
        li
          a(href="/login") Log in

mixin button(text, clas)
  button(class="button #{clas}")= text

mixin categories_tags(categories)
  .categories_tags
    each category in categories
        small 
          a.category_tag(href="/categories/#{category}")= category

mixin post_preview(post)
  .post_preview
    a(href="/posts/#{post.slug}")
      img(src="#{post.image}", alt="post.title")
    h2 
      a(href="/posts/#{post.slug}")= post.title
    p= body_preview(post.body)
    small On #{post.created_at} by 
      a(href="/users/#{post.author}" class="blue")= post.author
    +categories_tags(post.categories)

mixin errors(errors)
  if errors
    .error_messages.flash
      ul
        each error in errors
           li= error.msg

mixin flash_messages(success_messages, error_messages)
  if (success_messages && success_messages.length > 0)
    .success_messages.flash
      ul
        each msg in success_messages
          li= msg

  if (error_messages && error_messages.length > 0)
    .error_messages.flash
      ul
        each msg in error_messages
          li= msg